<%- include('./header.ejs') %>
<div class="container mt-4">
    <h2 class="text-center text-primary mb-7">About Us</h2>
    <div class="row">
        <div class="col-md-6">
            <h2 class="text-warning text-bold animate__wobble">Vikrant University</h2>
            <h4>LEADERSHIP THROUGH LEARNING...</h4>
            <p class="aboutUs-p">Vikrant Group of Institutions (VGI), a pioneer educational institute is promoting top-notch education for the students not only in Madhya Pradesh but also in the whole nation and abroad. The journey of this pious endeavour began by establishing the Indore campus in the year 2007 under the umbrella of the Vikrant Group of Institutions. The institution has grown manifolds and achieved new heights during this short span of time is the result of the dynamic and visionary leadership of Shri R. S. Rathore, founder chairman of the group.</p>

                <p class="aboutUs-p">In the year 2009, when the foundation stone of Vikrant Institute of Management and Technology, Gwalior was laid down, the institution has not looked back in this journey and kept on adding new feathers to its cap by introducing different and new academic programmes affiliated with leading Universities of the State of Madhya Pradesh.</p>
                
                <p class="aboutUs-p">At present, VGI offers Diploma in Engineering, B.Tech., M.Tech., BBA, B.Com., MBA, B.Sc. (Agriculture), BCA, MCA, LLB, BALLB, LLM, B.Sc. (Nursing) and Paramedical programmes having a total strength of approx. 4500 students. The strong alumni of the institution are the brand ambassador of the Group who got their placement across the globe in reputed organizations.</p>

                <p class="aboutUs-p">At last, by the sovereignty of enormous and endless efforts of Mr. Rathore along with the young and dynamic leadership of Mr. Nitin Tomar and Mr. Vikrant Singh Rathore supported by his dedicated team, the dream of the Vikrant Educational and Social Welfare Society has come true and this pioneer institute has got the status of the university- “Vikrant University”.</p>
                
                <p class="aboutUs-p">However, the journey of imparting value-based higher education to the society will continue and Vikrant University will always be on the march to scale new heights, achieve the goals of the new education policy and take the country ahead.</p>
        </div>
        <div class="col-md-6">
            <iframe  src="https://www.youtube.com/embed/d_v__i00r-c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen class="youtube-video"></iframe>
        </div>
    </div>
    <div class="row why-choose-us">
        <h2 class="text-center text-warning">Why Choose Us</h2>
        <div class="col-md-4 mb-4">
            <div class="border">
                <i class="fa-solid fa-circle-check" class="pl-5"></i>
                <h4>Our Mission</h4>
                <p class="">"To develop an education system rooted in Indian ethos that contributes directly to transforming India, that is Bharat. Developing an equitable and vibrant knowledge society and thereby making India a global knowledge superpower to produce highly talented professionals to take challenges of the future."</p>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="border">
                <i class="fa-solid fa-eye"></i>
                <h4>Our Vision</h4>
                <p class="">"To produce a good human being capable of rational thought and action, posing compassion and empathy, courage and resilience, scientific temper and creative imagination with sound ethical values for building an equitable, inclusive and plural society as envisaged by the constitution of India."</p>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="border border-height">
                <i class="fa-solid fa-sun"></i>
                <h4>Core Values</h4>
                <p class="">"Vikrant focuses on creating ambitious human resources while nurturing innovation, knowledge, research, and talent with an optimistic outlook. We believe in blending tradition with modernity."</p>
            </div>
        </div>
    </div>
</div>

<%- include('./footer.ejs') %>