<%- include('./header.ejs') %>
<div class="container-fluid" id="courseRegestration">
  <div class="container bg">
    <section class="mb-4">
      <h2 class="h1-responsive font-weight-bold text-center my-3 mb-4">
        Do Regestration
      </h2>
      <p class="text-center w-responsive mx-auto mb-5">
        In Case any query, Kindly Contact: 7909809129
      </p>
      <div class="row">
        <div class="col-md-9 mb-md-0 mb-5">
          <form action="" id="contactform">
            <div class="row">
              <div class="col-md-6">
                <div class="md-form mb-0">
                  <label for="name">Your Username:</label>
                  <input
                    type="text"
                    name="username"
                    id=""
                    class="form-control"
                    placeholder="Username"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="md-form mb-0">
                  <label for="email">Your Email:</label>
                  <input
                    type="email"
                    name="email"
                    id=""
                    class="form-control"
                    placeholder="Email"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="md-form mb-0">
                  <label for="email">Mobile No.</label>
                  <input
                    type="phone"
                    name="phone"
                    id=""
                    class="form-control"
                    placeholder="Phone"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="md-form mb-0">
                  <label for="email">DOB:</label>
                  <input type="date" name="dob" id="" class="form-control" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="md-form mb-0">
                  <label for="message">Address:</label>
                  <textarea
                    name="message"
                    id=""
                    rows="1"
                    type="text"
                    class="form-control md-textarea"
                  ></textarea>
                </div>
              </div>
              <div class="col-md-6">
                <div class="md-form mb-0">
                  <label for="">Gender:</label><br />
                  <input type="radio" name="gender" value="male" /> Male <br />
                  <input type="radio" name="gender" value="female" /> female
                </div>
              </div>
              <div class="col-md-6">
                <div class="md-form">
                  <label for="">Select Collage</label>
                  <select name="collage" id="" class="form-control">
                    <option value="">Select</option>
                    <option value="">MPCT</option>
                    <option value="">ITM</option>
                    <option value="">VITM</option>
                    <option value="">MITS</option>
                    <option value="">Other</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="md-form">
                  <label for="">Select Course</label>
                  <select name="course" id="" class="form-control">
                    <option value="">Select</option>
                    <option value="">BCA</option>
                    <option value="">Btech</option>
                    <option value="">Mtech</option>
                    <option value="">MCA</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="md-form">
                  <label for="">Select Branch</label>
                  <select name="branch" id="" class="form-control">
                    <option value="">Select</option>
                    <option value="">CSE</option>
                    <option value="">IT</option>
                    <option value="">EC</option>
                    <option value="">ET</option>
                    <option value="">Other</option>
                  </select>
                </div>
              </div>
            </div>
            <br />
            <button class="btn btn-primary btn-lg" type="submit">Send</button>
          </form>
        </div>
        <div class="col-md-3 text-center text-primary">
          <ul class="list-unstyled mb-0">
            <li>
              <i class="fa-solid fa-location-dot fa-2x"></i>
              <p class="text-dark">
                Campus: Chitora Road, Gwalior, Madhya Pradesh 474006
              </p>
            </li>

            <li>
              <i class="fa-solid fa-phone fa-2x mt-4"></i>
              <p class="text-dark">1800-270-5155 | 9343643500</p>
            </li>

            <li>
              <i class="fa-solid fa-envelope fa-2x mt-4"></i>
              <p class="text-dark">info@vikrantuniversity.ac.in</p>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</div>

<%- include('./footer.ejs') %>
